<div class="jumbotron login">
    <div class="app_title">{{appName}}</div>
    <hr class="hr_view">
    <br><br>
    <input type="text" class="form-control text_view" ng-model="login" name="login" id="login" placeholder="Login">	
    <input type="password" class="form-control text_view" ng-model="password" name="password" id="password" placeholder="Senha">	
</div>
<a class="btn btn-primary form-control" ng-click="isUser(login,password)">Login</a>
<!--<a href class="btn btn-primary form-control" ng-click="goApp()">Aux</a>-->