<div class="user_view">Usuário: {{loggedUser}}</div> 
<div class="jumbotron">
    <div class="app_title">{{appName}}</div>
    <hr class="hr_view">
	<ul class="ul-nav nav nav-pills nav-stacked">
		<li class="il-nav active"><a href="#!/newRoute">Nova Rota</a></li>
		<li class="il-nav active"><a href="#!/mapInfo">Informar situação no mapa</a></li>
        <li class="il-nav active"><a href="#!/userFeedback">Avaliar Experiência</a></li>
    </ul>
</div>
<a href="#!/login" class="btn btn-danger form-control" ng-click="logout()">Logout</a>
