<div class="user_view">Usuário: {{loggedUser}}</div> 
<div class="jumbotron">
    <div class="app_title">{{appName}}</div>
    <hr class="hr_view">
    <br>
    <div id="div_graph" class="app_subtitle">
        Experiência com o MyRoute
        <canvas class="line-chart"></canvas>
    </div> 
    <br><br><br>
    <div id="div_user_feedback">
        <label>Avalie sua experiência com o MyRoute</label>
        <br>
        <label for="rad_0">
            <input id="rad_0" name="rad_ops" type="radio" value="0" /> Ruim 
            &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label for="rad_1">
            <input id="rad_1" name="rad_ops" type="radio" value="1" /> Média
            &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label for="rad_2"> 
            <input id="rad_2" name="rad_ops" type="radio" value="2" /> Ótima
            &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <br>
        <textarea id="ta_desc" name="ta_desc" cols="40" rows="3" placeholder="Comentário...">
        </textarea>
    </div>
</div>
<a href class="btn btn-primary form-control custom" ng-show="showSend" ng-click="doGraph()">Enviar</a>
<a href class="btn btn-primary form-control custom" ng-show="!showSend" ng-click="doAgain()">Avaliar novamente</a>
<a href="#!/menu" class="btn btn-primary form-control custom">Voltar</a>
 